# Peer Review Assignment - Data Engineer - ETL

In [13]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [14]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [15]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-06-27 02:59:41--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-06-27 02:59:41 (17.7 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-06-27 02:59:42--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-06-27 02:59:42 (11.6 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-06-27 02:59:42--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-06-27 02:59:42 (3.64 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

## Extract

In [16]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [17]:
columns=['Name','Market Cap (US$ Billion)']

In [18]:
def extract():
    # first code  part as usual 
    file = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json"
    df = extract_from_json(file)[columns]
    return df

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [19]:
#  beginnign of code 
pd_rates = pd.read_csv("exchange_rates.csv")
#code for printing rates 
exchange_rate = pd_rates[pd_rates.iloc[:,0] == "GBP"]
#code for printing exchange rates

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [20]:
def transform(data):
    # first code part 
    data["Market Cap (US$ Billion)"] = round(data['Market Cap (US$ Billion)'] * float(exchange_rate['Rates']),3)
    data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'}, inplace=True)
    #printing data results 

    return data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [21]:
def load(data):
    # first code part as usual 
    print(data.to_csv(index=False))
    with open("bank_market_cap_gbp.csv","w") as f:
        f.write(data.to_csv(index=False))

## Logging Function

Write the logging function <code>log</code> to log your data:

In [22]:
def log(message):
    # first code part  to  begin with 
    print(message)

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [23]:
#  we start with function  log per normal 
log("ETL Job Started")
log("Extract phase Started")

ETL Job Started
Extract phase Started

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [24]:

df = extract()
print(df.head(5))

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [25]:

log("Extract phase Ended")

Extract phase Ended

### Transform

Log the following  <code>"Transform phase Started"</code>

In [26]:

log("Transform phase Started")

Transform phase Started

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [27]:
# function first 
result = transform(df)
# first 5 rows values 
print(result.head(5))

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [28]:

log("Transfrom phase Ended")

Transfrom phase Ended

### Load

Log the following `"Load phase Started"`.

In [29]:
# log function 
log("Load phase Started")

Load phase Started

Call the load function

In [30]:
# load function 
load(result)

Name,Market Cap (GBP$ Billion)
JPMorgan Chase,286.319
Industrial and Commercial Bank of China,252.834
Bank of America,238.272
Wells Fargo,225.588
China Construction Bank,188.519
HSBC Holdings PLC,160.593
Agricultural Bank of China,148.856
Citigroup Inc.,148.798
Bank of China,132.908
China Merchants Bank,89.804
Royal Bank of Canada,89.766
Banco Santander,84.736
Commonwealth Bank,82.195
Mitsubishi UFJ Financial Group,81.78
Toronto-Dominion Bank,79.428
BNP Paribas,75.626
Goldman Sachs,73.756
Sberbank of Russia,73.123
Morgan Stanley,72.984
U.S. Bancorp,69.254
HDFC Bank,64.77
Itaú Unibanco,63.135
Westpac,61.932
Scotiabank,57.821
ING Group,57.801
UBS,55.283
Charles Schwab,54.384
PNC Financial Services,52.913
Lloyds Banking Group,52.186
Sumitomo Mitsui Financial Group,49.311
Bank of Communications,49.128
Australia and New Zealand Banking Group,48.666
Banco Bradesco,47.471
National Australia Bank,46.723
Intesa Sanpaolo,45.432
Banco Bilbao Vizcaya Argentaria,44.44
Japan Post Bank,44.328
The Bank of New York Mellon,43.814
Shanghai Pudong Development Bank,43.062
Industrial Bank (China),42.031
Bank of China (Hong Kong),40.611
Bank of Montreal,38.95
Crédit Agricole,38.188
DBS Bank,37.7
Nordea,37.488
Capital One,37.431
NatWest Group,36.979
Mizuho Financial Group,36.633
Credit Suisse,35.493
Postal Savings Bank of China,35.117
China Minsheng Bank,35.097
UniCredit,34.992
China CITIC Bank,34.753
Hang Seng Bank,33.816
Société Générale,33.728
Barclays,33.58
Canadian Imperial Bank of Commerce,31.892
Bank Central Asia,31.745
Truist Financial,30.704
Oversea-Chinese Banking Corp,30.293
State Bank of India,29.708
State Street,29.127
Deutsche Bank,28.306
KBC Bank,28.12
Danske Bank,27.994
Ping An Bank,27.826
Standard Chartered,27.332
United Overseas Bank,25.728
QNB Group,24.579
Bank Rakyat,24.228

Log the following `"Load phase Ended"`.

In [31]:
# final code lines 
log("Load phase Ended")

Load phase Ended

nilaysingh